
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

body,html{
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    box-shadow: 0px 5px 5px grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    user-select: none;
    gap: 5px;
}

.modal-dialog{
    display: none;
    position: fixed;
    opacity: 0;
    min-height: 100%;
    min-width: 100%;
	transition: opacity 0.4s ease-in;
}

.modal-dialog:target{
    opacity: 1;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.656);
}

.add-book-section{
    background: white;
    border-radius: 10px;
    position: relative;
    width: 45%;
}

.add-book-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px 20px 15px;
    margin-top: 20px;
    height: 80vh;
    overflow-y: auto;
}

.add-book-form > div:not(:last-child){
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.add-book-form > div > input{
    border-radius: 5px;
    border: none;
    background: whitesmoke;
    height: 1.7rem;
    font-size: 1.3rem;
}

.add-book-form > div > label{
    font-size: 1.7rem;
}

.close-button{
    text-decoration: none;
    background: white;
    color: black;
    position: absolute;
    width: 30px;
    padding: 5px;
    border-radius: 0px 10px 0px 0px;
    top: 0px;
    right: 0px;
    text-align: center;
    transition: all 0.4s ease;
}
.close-button:hover{
    background: black;
    color: white;
}

.check{
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-book-button{
    text-decoration: none;
    color: black;
    background: white;
    border: medium solid black;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.4s ease;
}

.add-book-button:hover{
    opacity: 0.7;
    color: white;
    background: black;
}

.add-book-confirm{
    display: inline-block;
    background: white;
    color: black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.5rem;
    width: 100%;
    transition: all 0.4s ease;
}

.add-book-confirm:hover{
    background: black;
    color: white;
}

.book-list{
    flex: 1;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-template-rows: repeat(auto-fill,minmax(200px,max-content));
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.card{
    box-shadow: 0px 5px 5px grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card > .card-content{
    flex: 1;
}

.card-content>p{
    word-break: break-all;
}

.card-content> p> span:last-child{
    font-size: 1.2rem;
}

.card-options{
    display: flex;
    justify-content: flex-end;
}

.read-check{
    margin-left: 5px;
}
.remove-button{
    background-color: rgba(255, 4, 4, 0.07);
    border: none;
    color: red;
    padding: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
.title-info{
    font-weight: bold;
    font-size: 1.3rem;
}

